<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Message Board</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    {{#if error}}
    <div class="error-box">
        {{error}}
    </div>
    {{/if}}

{{{body}}}

</body>
</html>