<h1>hello message board!</h1>

<ul class = "message-list">
    {{#each messages}}
        <li>{{author}} said "{{message}}"</li>
    {{/each}}
</ul>

{{#if user}}
<form action="/messages" method="POST" class = "message-form">
    <label> Message
        <input type="text" name="message" />
    </label>
    <button type="submit" id = "message-submit"> Send </button>
</form>
{{else}}
<a href = "/register">Register</a>
<a href = "/login">Login</a>
{{/if}}

{{#if user}}<a href = "/logout">Logout</a>{{/if}}

<div class = "footer">
    Created with &#x1F49B; using Express
</div>

<script>
    function messageColor {
        const hexColor = Math.floor(Math.random() * 16777215).toString(16);
        document.body.style.backgroundColor = "#" + hexColor;
    }

    message-submit.addEventListener("click", messageColor);
</script>